<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conditional statements</title>
</head>
<body>
    <center>
       <!--
        <h2> if block </h2>
        {% if a > b %}
            <h2>a is {{b}}</h2>
        {% endif %}
       -->

        <!-- <h2> if-else block </h2>
        {% if a > b %}
            <h2>a is high {{a}}</h2>
        {% else %}
            <h2>b is high {{b}}</h2>
        {% endif %}
        -->

        <!-- <h2> if-elif-else block </h2>
        {% if a > b and a > c %}
            <h2>a is high {{a}}</h2>
        {% elif b > c  %}
            <h2>b is high {{b}}</h2>
        {% else %}
            <h2> else is {{c}}</h2>
        {% endif %}
        -->

        <!-- <h2> nested-if block </h2>
        {% if a > b %}
            {% if a > c %}
                <h2>a is high {{a}}</h2>
            {% else %}
                <h2>a is high {{c}}</h2>
            {% endif %}
        {% else %}
            {% if b > c %}
                <h2>b is high {{b}}</h2>
            {% else %}
                <h2>b is high {{c}}</h2>
                {% endif %}
        {% endif %}
        -->   

{% for i in anime %}
    <h2>I watched this best animes {{ i }}</h2>
{% endfor %}

<h2><a href="{% url 'data_render' %}">go to anime page</a></h2>


</center>
</body>
</html>